react-datepicker-ignore-onclickoutside {
  width: 100% !important;
}

.react-datepicker__input-container input {
  background-color: #99a799;
  border: none;
  outline: none;
  border-radius: 10px;
  display: block;
  padding: 14px 18px;
  width: 100%;
}
.react-datepicker-wrapper {
  width: 180px;
}
