@import "../../../variable.scss";
.social-info {
  background: #cfedff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  position: relative;
  &-box {
    margin: 140px 0;
    &:first-child {
      margin-right: 300px;
    }
  }
  &--title {
    font-size: 30px;
    font-weight: medium;
    line-height: 1.4;
    color: $title-color;
    span {
      display: block;
    }
  }
  &--des {
    color: $description-text-color;
    line-height: 1.4;
    padding-top: 16px;
    span {
      display: block;
    }
  }
}
.circle-green {
  $length: 70px;
  width: $length;
  height: $length;
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
}
