$text-color: #404041;
$pink-color: #f85279;
$pink-main: #fa3f6c;
$title-color: #222223;
$description-text-color: #5f5f64;
$purple-color: #614da7;
$black-box: #1e292e;
$green-color: #48df99;
$footer-bkg: #f8fcff;
